<!--<div style="border: solid; padding: 10px">
    <app-review-title></app-review-title>
</div>-->

<table>
    <tr>
        <td>Column Name</td>
        <td>Value</td>
    </tr>
    <tr>
        <td>First Name</td>
        <td>{{FirstName}}</td>
    </tr>
    <tr>
        <td>Last Name</td>
        <td>{{LastName}}</td>
    </tr>
    <tr>
        <td>Department Name</td>
        <td>{{DepartmentName}}</td>
    </tr>
</table>
<h2>Employee2 Details</h2>
<ReviewAssociate></ReviewAssociate>

<!--<div class="row">
    <div class="column" style="background-color:#aaa;">
        <h2>Firs tName</h2>
        <p>{{FirstName}}</p>
    </div>
    <div class="column" style="background-color:#bbb;">
        <h2>LastName</h2>
        <p>{{LastName}}</p>
    </div>
    <div class="column" style="background-color:#bbb;">
        <h2>DepartmentName</h2>
        <p>{{DepartmentName}}</p>
    </div>
</div>-->

<!--<div style="padding: 5px;"></div>
<div style="border: solid; height: 100px; padding:10px">
    <app-review-detail></app-review-detail>
</div>-->
